<div class="main">
    <div class="navbar">

        <h1 class="text-center">Play Music With V Media</h1>

    </div>

    <p class="listenit">Listen It</p>
    <button routerLink="album">Play Music</button>


 
      
</div>
<div class="container">
    The Symphonium company started business in 1885 as the first manufacturers of disc-playing music boxes. Two of the
    founders of the company, Gustave Brachhausen and Paul Riessner, left to set up a new firm, Polyphon, in direct
    competition with their original business and their third partner, Oscar Paul Lochmann. Following the establishment
    of the Original Musikwerke Paul Lochmann in 1900, the founding Symphonion business continued until 1909.[1]

    According to the Victoria Museums in Australia, "The Symphonion is notable for the enormous diversity of types,
    styles, and models produced... No other disc-playing musical box exists in so many varieties. The company also
    pioneered the use of electric motors... the first model fitted with an electric motor being advertised in 1900. The
    company moved into the piano-orchestrion business and made both disc-operated and barrel-playing models,
    player-pianos, and phonographs."[1]

    Meanwhile, Polyphon expanded to America, where Brachhausen established the Regina Company. Regina was a spectacular
    success. It eventually reinvented itself as a maker of vacuums and steam cleaners.[citation needed]

    In the heyday of the music box, some variations were as tall as a grandfather clock and all used interchangeable
    large disks to play different sets of tunes. These were spring-wound and driven and both had a bell-like sound. The
    machines were often made in England, Italy, and the US, with additional disks made in Switzerland, Austria, and
    Prussia. Early "juke-box" pay versions of them existed in public places. Marsh's free Museum and curio shop in Long
    Beach, Washington (US) has several still-working versions of them on public display. The Musical Museum, Brentford,
    London has a number of machines.[2] The Morris Museum in Morristown, New Jersey, USA has a notable collection,
    including interactive exhibits. In addition to video and audio footage of each piece, the actual instruments are
    demonstrated for the public daily on a rotational basis.
</div>