.container {
    margin-top: 20px;
}

.song {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    width: 100%;
    margin: 10px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.5;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #f9f9f9 50%, #f9f9f9 50%);

    gap: 10px;


}

.song-box {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
}

.song:hover {
    background-position: 0 -100%;
}

.song>img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;

}

h3 {
    margin-top: 10px;

    text-align: center;
}