<div class="footer">


    <div class="col1">

        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam maiores suscipit quidem esse sit saepe qui
            ipsum eos. Nemo reprehenderit porro aliquid. Dignissimos nihil iure quam a, magnam nobis repellendus dolores
            fuga excepturi similique sunt minima esse placeat perferendis facere ab corporis itaque sed velit corrupti
            ea iste illo! Incidunt saepe placeat maxime illo reiciendis! Sed obcaecati dignissimos suscipit quasi
            deleniti, minus veritatis esse placeat repudiandae eum. Reiciendis beatae architecto nam ducimus eum
            voluptates enim maxime in, odit iure velit modi ullam quod dolores minus recusandae qui. Provident molestiae
            qui et distinctio eaque velit, adipisci inventore voluptatum quod dolores in.
        </p>
<hr>
    </div>
    <div class="col2">

        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum modi explicabo, impedit a quod eligendi nam
            cupiditate delectus nemo ratione numquam pariatur cumque harum perspiciatis incidunt voluptates perferendis?
            Consequuntur voluptatum veritatis eligendi quia, aliquid facilis numquam libero dolores mollitia,
            perspiciatis est? Illo debitis inventore recusandae modi ad eaque corrupti eum minima iusto neque quos
            incidunt consectetur distinctio nihil culpa tenetur eos et voluptates, placeat voluptas velit facere
            quisquam. Repellat earum minus pariatur! Nihil deserunt tempora fugiat dolorum veritatis fugit perferendis
            ex facere similique odio! Et non placeat autem fugiat, saepe, consectetur similique aliquam id voluptate
            eaque quasi perferendis accusantium illo.
        </p>
        <hr>
    </div>
    <div class="col3">

        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum modi explicabo, impedit a quod eligendi nam
            cupiditate delectus nemo ratione numquam pariatur cumque harum perspiciatis incidunt voluptates perferendis?
            Consequuntur voluptatum veritatis eligendi quia, aliquid facilis numquam libero dolores mollitia,
            perspiciatis est? Illo debitis inventore recusandae modi ad eaque corrupti eum minima iusto neque quos
            incidunt consectetur distinctio nihil culpa tenetur eos et voluptates, placeat voluptas velit facere
            quisquam. Repellat earum minus pariatur! Nihil deserunt tempora fugiat dolorum veritatis fugit perferendis
            ex facere similique odio! Et non placeat autem fugiat, saepe, consectetur similique aliquam id voluptate
            eaque quasi perferendis accusantium illo.
        </p>
        <hr>
    </div>





 <h1> | © Connect with us |  </h1>
  
    <ul>
        <li> ƒ Facebook</li>
        <li> ì Instagram</li>
        <li> Telegram</li>

    </ul>

</div>