
<h2> | Play Songs | </h2>

<div class="container1">



    <a routerLink="english">
        <div class="sbox" id="box1">
            </div>
            <h1> English Songs </h1>
    </a>
    
    <a routerLink="hindi">
        <div class="sbox" id="box2">
            </div>
            <h1> Hindi Song</h1>
    </a>

    <a  routerLink="marathi">
        <div class="sbox" id="box3">
        <img src="" alt="">
        </div>
        <h1 >Marathi songs </h1>
    </a>
    
    <a  routerLink="marathi">
        <div class="sbox" id="box3">
        <img src="" alt="">
        </div>
        <h1 >Marathi songs </h1>
    </a> <a  routerLink="marathi">
        <div class="sbox" id="box3">
        <img src="" alt="">
        </div>
        <h1 >Marathi songs </h1>
    </a>



</div>
